.speciality
{
    
    height: 600px;
    width:100%;
    /* padding-left: 90px;
    padding-right: 15px; */
    padding:auto;
    display: block;
}

.boxes{
    margin-top: 15px;
    width:20%;
    height:220px;
    margin-left: 60px;
    /* margin-right: 20px; */
    background-color:#93bdc0 ;
    
}

.boxes:hover{
    background-color:rgb(57, 57, 255);
}

.image
{
    padding-left: 100px;

}

.anchor
{
    padding-left: 80px;
    text-decoration:none;
    color: black;
    font-family: ITCFranklinGothicStd-Med;
}

.text
{
    display: inline-block;
    font-family: ITCFranklinGothicStd-Med;
    text-align: left;
    text-indent: 0px;
}